#animation-div {
  position: absolute;
  left: 0;
  right: 0;
  /* border: 2px solid red; */
  height: 100vh;
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 962px 1049px #fff, 1070px 1697px #fff, 1411px 439px #fff,
    787px 618px #fff, 1785px 1681px #fff, 1977px 188px #fff, 743px 697px #fff,
    718px 1077px #fff, 136px 1632px #fff, 745px 472px #fff, 1303px 53px #fff,
    917px 958px #fff, 1763px 817px #fff, 1161px 426px #fff, 132px 258px #fff,
    1965px 905px #fff, 547px 165px #fff, 1422px 46px #fff, 1044px 1176px #fff,
    764px 682px #fff, 418px 583px #fff, 334px 403px #fff, 487px 272px #fff,
    611px 1019px #fff, 742px 907px #fff, 661px 1593px #fff, 1949px 765px #fff,
    911px 70px #fff, 1274px 1613px #fff, 1189px 237px #fff, 1802px 823px #fff,
    791px 583px #fff, 1381px 1274px #fff, 600px 843px #fff, 1731px 613px #fff,
    1077px 1262px #fff, 1386px 863px #fff, 1472px 1866px #fff, 1679px 895px #fff,
    757px 1872px #fff, 560px 208px #fff, 809px 549px #fff, 1661px 1043px #fff,
    395px 237px #fff, 476px 1569px #fff, 355px 299px #fff, 553px 195px #fff,
    749px 716px #fff, 1456px 870px #fff, 1732px 1533px #fff, 90px 941px #fff,
    432px 183px #fff, 1500px 1999px #fff, 368px 1186px #fff, 586px 791px #fff,
    161px 1250px #fff, 1792px 863px #fff, 1371px 901px #fff, 1130px 1820px #fff,
    1870px 1210px #fff, 1821px 1248px #fff, 534px 1611px #fff, 716px 1172px #fff,
    1600px 833px #fff, 477px 1077px #fff, 965px 983px #fff, 1805px 31px #fff,
    513px 209px #fff, 1933px 1690px #fff, 86px 1699px #fff, 441px 80px #fff,
    654px 1009px #fff, 1372px 528px #fff, 1469px 792px #fff, 986px 45px #fff,
    674px 1749px #fff, 1619px 60px #fff, 982px 1672px #fff, 942px 1554px #fff,
    346px 1538px #fff, 119px 1051px #fff, 462px 665px #fff, 165px 1995px #fff,
    516px 1939px #fff, 526px 1196px #fff, 1283px 636px #fff, 1907px 593px #fff,
    358px 1694px #fff, 437px 375px #fff, 1046px 422px #fff, 356px 1411px #fff,
    737px 783px #fff, 1546px 588px #fff, 1443px 530px #fff, 517px 809px #fff,
    406px 1359px #fff, 1318px 1681px #fff, 1410px 1240px #fff, 91px 1151px #fff,
    1980px 1977px #fff, 1795px 1708px #fff, 1849px 1285px #fff,
    1213px 398px #fff, 1704px 1516px #fff, 704px 1946px #fff, 1013px 587px #fff,
    546px 1049px #fff, 43px 809px #fff, 1290px 1044px #fff, 1095px 481px #fff,
    1569px 1226px #fff, 72px 1388px #fff, 1610px 1660px #fff, 819px 690px #fff,
    929px 1286px #fff, 155px 69px #fff, 1838px 57px #fff, 262px 1175px #fff,
    1084px 1013px #fff, 1883px 1667px #fff, 94px 19px #fff, 337px 46px #fff,
    1448px 601px #fff, 820px 202px #fff, 366px 170px #fff, 37px 296px #fff,
    366px 211px #fff, 532px 1639px #fff, 303px 1296px #fff, 1634px 495px #fff,
    1220px 938px #fff, 1775px 656px #fff, 1674px 165px #fff, 1399px 54px #fff,
    1366px 1012px #fff, 1016px 1814px #fff, 752px 809px #fff, 1683px 1472px #fff,
    1878px 71px #fff, 1120px 605px #fff, 71px 904px #fff, 548px 1998px #fff,
    738px 801px #fff, 1148px 1631px #fff, 579px 1331px #fff, 1688px 1322px #fff,
    651px 1940px #fff, 1690px 561px #fff, 1723px 1043px #fff, 1895px 1713px #fff,
    1034px 1656px #fff, 333px 25px #fff, 1876px 1482px #fff, 1676px 39px #fff,
    1724px 1503px #fff, 1795px 1328px #fff, 1505px 470px #fff, 1598px 847px #fff,
    1416px 883px #fff, 1682px 464px #fff, 1789px 1937px #fff, 1336px 1033px #fff,
    188px 1758px #fff, 1853px 844px #fff, 80px 66px #fff, 1364px 844px #fff,
    1762px 1380px #fff, 801px 1749px #fff, 1679px 1080px #fff, 583px 903px #fff,
    1386px 901px #fff, 46px 232px #fff, 919px 115px #fff, 52px 724px #fff,
    1268px 1870px #fff, 609px 1235px #fff, 633px 486px #fff, 650px 992px #fff,
    1198px 1233px #fff, 1282px 23px #fff, 972px 1582px #fff, 1970px 1147px #fff,
    1457px 1397px #fff, 1960px 1907px #fff, 677px 209px #fff, 1199px 302px #fff,
    1027px 603px #fff, 1589px 1655px #fff, 1573px 513px #fff, 636px 1319px #fff,
    624px 1824px #fff, 45px 600px #fff, 465px 1910px #fff, 1207px 64px #fff,
    889px 1783px #fff, 1869px 131px #fff, 1606px 663px #fff, 502px 1102px #fff,
    146px 1437px #fff, 1067px 1343px #fff, 723px 919px #fff, 26px 45px #fff,
    918px 609px #fff, 1572px 1993px #fff, 1281px 1192px #fff, 317px 198px #fff,
    415px 946px #fff, 252px 171px #fff, 1955px 758px #fff, 1686px 1097px #fff,
    1702px 1215px #fff, 4px 638px #fff, 672px 1485px #fff, 798px 1848px #fff,
    1267px 1582px #fff, 494px 1749px #fff, 442px 1377px #fff, 1825px 1576px #fff,
    1895px 1415px #fff, 106px 220px #fff, 1687px 272px #fff, 1283px 244px #fff,
    967px 820px #fff, 1148px 1178px #fff, 1278px 1034px #fff, 1223px 1932px #fff,
    1128px 1011px #fff, 1651px 1362px #fff, 203px 1634px #fff,
    1556px 1808px #fff, 641px 1354px #fff, 905px 80px #fff, 1681px 1211px #fff,
    1898px 1958px #fff, 779px 41px #fff, 380px 195px #fff, 445px 1166px #fff,
    253px 1376px #fff, 1819px 831px #fff, 1653px 267px #fff, 97px 253px #fff,
    590px 40px #fff, 85px 511px #fff, 219px 469px #fff, 142px 518px #fff,
    1301px 1545px #fff, 1054px 1031px #fff, 1804px 728px #fff, 263px 772px #fff,
    1881px 1107px #fff, 354px 501px #fff, 482px 1304px #fff, 1778px 195px #fff,
    440px 213px #fff, 187px 177px #fff, 1432px 617px #fff, 336px 1847px #fff,
    1494px 1771px #fff, 797px 1257px #fff, 948px 1477px #fff, 42px 818px #fff,
    1814px 788px #fff, 611px 386px #fff, 552px 533px #fff, 1783px 1129px #fff,
    1944px 887px #fff, 701px 1329px #fff, 779px 699px #fff, 1998px 1133px #fff,
    1249px 497px #fff, 1799px 1727px #fff, 1771px 1546px #fff, 1201px 179px #fff,
    1176px 733px #fff, 1507px 342px #fff, 634px 433px #fff, 923px 1792px #fff,
    738px 1601px #fff, 787px 1592px #fff, 1452px 1079px #fff, 654px 1781px #fff,
    1047px 573px #fff, 129px 1184px #fff, 268px 1876px #fff, 1923px 1386px #fff,
    207px 864px #fff, 576px 667px #fff, 877px 1141px #fff, 1910px 26px #fff,
    573px 1995px #fff, 1255px 1862px #fff, 1175px 1554px #fff, 575px 60px #fff,
    998px 1080px #fff, 581px 1646px #fff, 1443px 251px #fff, 702px 1685px #fff,
    523px 1301px #fff, 999px 1424px #fff, 770px 1336px #fff, 495px 116px #fff,
    1953px 648px #fff, 1616px 436px #fff, 182px 1439px #fff, 959px 193px #fff,
    345px 367px #fff, 1299px 581px #fff, 953px 30px #fff, 994px 1175px #fff,
    1423px 993px #fff, 553px 757px #fff, 732px 789px #fff, 1266px 1781px #fff,
    1725px 505px #fff, 1999px 1635px #fff, 1875px 1089px #fff, 568px 1046px #fff,
    1133px 675px #fff, 376px 986px #fff, 460px 1810px #fff, 334px 1644px #fff,
    892px 769px #fff, 455px 106px #fff, 716px 304px #fff, 203px 1834px #fff,
    1726px 432px #fff, 1118px 263px #fff, 105px 678px #fff, 1714px 305px #fff,
    65px 1201px #fff, 1676px 864px #fff, 1463px 1699px #fff, 673px 245px #fff,
    1950px 63px #fff, 1754px 692px #fff, 1240px 314px #fff, 549px 1007px #fff,
    1306px 1045px #fff, 1663px 1158px #fff, 81px 848px #fff, 1792px 1386px #fff,
    1317px 88px #fff, 1155px 648px #fff, 115px 880px #fff, 35px 157px #fff,
    1143px 282px #fff, 202px 1029px #fff, 1206px 991px #fff, 112px 1013px #fff,
    1050px 254px #fff, 1251px 1027px #fff, 1397px 524px #fff, 1005px 364px #fff,
    914px 128px #fff, 1056px 1802px #fff, 1613px 1747px #fff, 1037px 440px #fff,
    1606px 64px #fff, 1012px 1241px #fff, 1897px 1504px #fff, 995px 614px #fff,
    539px 922px #fff, 1587px 859px #fff, 1835px 380px #fff, 958px 1947px #fff,
    207px 190px #fff, 816px 314px #fff, 1281px 1184px #fff, 1915px 1358px #fff,
    820px 1715px #fff, 1865px 392px #fff, 234px 1466px #fff, 949px 176px #fff,
    1211px 9px #fff, 1972px 45px #fff, 561px 670px #fff, 1260px 1822px #fff,
    1297px 221px #fff, 1514px 330px #fff, 1270px 972px #fff, 914px 883px #fff,
    1203px 124px #fff, 1531px 190px #fff, 1348px 1245px #fff, 1677px 1466px #fff,
    843px 1582px #fff, 654px 596px #fff, 88px 1510px #fff, 1488px 503px #fff,
    452px 921px #fff, 334px 1640px #fff, 1993px 599px #fff, 1416px 279px #fff,
    1864px 629px #fff, 591px 1688px #fff, 1552px 1932px #fff, 881px 1296px #fff,
    1872px 1409px #fff, 444px 1612px #fff, 173px 752px #fff, 774px 1808px #fff,
    659px 1951px #fff, 1912px 1030px #fff, 1425px 1283px #fff, 190px 851px #fff,
    736px 727px #fff, 608px 932px #fff, 899px 1117px #fff, 1024px 1596px #fff,
    1515px 1939px #fff, 1348px 1708px #fff, 241px 731px #fff, 1217px 1924px #fff,
    1357px 551px #fff, 731px 626px #fff, 31px 1174px #fff, 1795px 280px #fff,
    1437px 680px #fff, 810px 560px #fff, 1615px 1460px #fff, 1153px 594px #fff,
    141px 254px #fff, 1570px 1081px #fff, 1751px 1890px #fff, 483px 879px #fff,
    687px 1075px #fff, 1640px 1253px #fff, 1235px 1226px #fff, 316px 354px #fff,
    1550px 1997px #fff, 365px 8px #fff, 1074px 1708px #fff, 828px 630px #fff,
    1519px 388px #fff, 648px 1215px #fff, 248px 814px #fff, 454px 1344px #fff,
    837px 607px #fff, 1475px 968px #fff, 1736px 661px #fff, 1634px 1197px #fff,
    186px 1694px #fff, 36px 223px #fff, 1688px 1273px #fff, 1449px 705px #fff,
    557px 408px #fff, 1507px 649px #fff, 400px 1675px #fff, 470px 1084px #fff,
    1398px 1400px #fff, 1369px 1919px #fff, 1228px 1080px #fff,
    1935px 1799px #fff, 916px 420px #fff, 1915px 873px #fff, 491px 653px #fff,
    227px 704px #fff, 1518px 1517px #fff, 1510px 1564px #fff, 145px 1155px #fff,
    358px 991px #fff, 109px 1691px #fff, 954px 1520px #fff, 1277px 452px #fff,
    1301px 1351px #fff, 885px 579px #fff, 1198px 418px #fff, 423px 1626px #fff,
    1916px 1493px #fff, 1277px 1105px #fff, 659px 725px #fff, 479px 886px #fff,
    778px 531px #fff, 1532px 1977px #fff, 267px 335px #fff, 4px 507px #fff,
    655px 775px #fff, 1756px 495px #fff, 1815px 1116px #fff, 1918px 1440px #fff,
    1629px 1832px #fff, 1853px 1667px #fff, 368px 1345px #fff, 721px 847px #fff,
    166px 10px #fff, 1964px 174px #fff, 1623px 1249px #fff, 1605px 744px #fff,
    253px 1833px #fff, 1767px 331px #fff, 1444px 1680px #fff, 1135px 59px #fff,
    322px 67px #fff, 1047px 1384px #fff, 806px 1763px #fff, 1354px 1469px #fff,
    575px 48px #fff, 635px 302px #fff, 431px 1320px #fff, 550px 403px #fff,
    519px 1188px #fff, 167px 426px #fff, 773px 1893px #fff, 1858px 303px #fff,
    1773px 1906px #fff, 860px 1397px #fff, 1021px 858px #fff, 1400px 541px #fff,
    803px 1130px #fff, 796px 62px #fff, 1215px 1381px #fff, 136px 1626px #fff,
    1482px 1503px #fff, 1363px 366px #fff, 841px 1256px #fff, 1413px 551px #fff,
    366px 758px #fff, 435px 1395px #fff, 1995px 82px #fff, 1572px 927px #fff,
    1913px 995px #fff, 1088px 515px #fff, 872px 49px #fff, 424px 998px #fff,
    122px 215px #fff, 1026px 368px #fff, 758px 1737px #fff, 818px 1721px #fff,
    711px 193px #fff, 1059px 892px #fff, 327px 469px #fff, 1570px 577px #fff,
    1590px 1028px #fff, 676px 489px #fff, 920px 473px #fff, 573px 874px #fff,
    1605px 1775px #fff, 23px 1538px #fff, 1297px 1081px #fff, 1237px 867px #fff,
    609px 601px #fff, 1287px 892px #fff, 708px 1387px #fff, 628px 554px #fff,
    1117px 1352px #fff, 1998px 1255px #fff, 1555px 419px #fff,
    1810px 1562px #fff, 246px 1091px #fff, 52px 460px #fff, 1650px 224px #fff,
    1455px 1133px #fff, 59px 1860px #fff, 786px 10px #fff, 1340px 1647px #fff,
    1245px 475px #fff, 206px 1542px #fff, 1038px 1979px #fff, 162px 1103px #fff,
    691px 1983px #fff, 100px 77px #fff, 899px 1186px #fff, 1211px 939px #fff,
    1573px 481px #fff, 137px 1106px #fff, 616px 145px #fff, 774px 135px #fff,
    1071px 1004px #fff, 339px 1627px #fff, 1888px 1860px #fff, 296px 1558px #fff,
    1201px 1743px #fff, 53px 381px #fff, 692px 1407px #fff, 795px 1269px #fff,
    1874px 340px #fff, 1653px 1908px #fff, 1068px 1526px #fff,
    1512px 1604px #fff, 1188px 1619px #fff, 1376px 585px #fff,
    1030px 1060px #fff, 1101px 901px #fff, 1640px 487px #fff, 929px 1290px #fff,
    205px 788px #fff, 1022px 638px #fff, 899px 1593px #fff, 1376px 589px #fff,
    493px 1119px #fff, 1006px 95px #fff, 569px 661px #fff, 1783px 1789px #fff,
    1685px 793px #fff, 1272px 1812px #fff, 751px 55px #fff, 1159px 463px #fff,
    217px 66px #fff, 1086px 726px #fff, 472px 418px #fff, 653px 1718px #fff,
    624px 1330px #fff, 890px 1708px #fff, 1763px 1981px #fff, 1226px 1144px #fff,
    709px 1699px #fff, 1246px 1210px #fff, 712px 1402px #fff, 1658px 1577px #fff,
    891px 1953px #fff, 1547px 1436px #fff, 974px 248px #fff, 623px 1536px #fff,
    1081px 1917px #fff, 434px 758px #fff, 1451px 301px #fff, 1918px 1702px #fff,
    1019px 1612px #fff, 1394px 434px #fff, 346px 344px #fff, 816px 1066px #fff,
    1888px 1882px #fff, 1660px 1295px #fff, 669px 1327px #fff,
    1004px 1389px #fff, 445px 468px #fff, 1862px 1110px #fff, 1950px 529px #fff,
    1759px 1432px #fff, 1078px 581px #fff, 651px 1678px #fff, 1677px 61px #fff,
    1528px 1595px #fff, 1368px 1047px #fff, 1692px 1301px #fff, 146px 7px #fff,
    309px 1574px #fff, 1572px 659px #fff, 1851px 1065px #fff, 1647px 650px #fff,
    1783px 1636px #fff, 1544px 1797px #fff, 984px 1894px #fff,
    1654px 1105px #fff, 1970px 1694px #fff, 1703px 546px #fff, 40px 992px #fff,
    351px 1060px #fff, 1426px 811px #fff, 485px 1327px #fff, 839px 434px #fff,
    1173px 1268px #fff, 1306px 1868px #fff, 864px 2000px #fff, 416px 944px #fff,
    975px 496px #fff, 1952px 1110px #fff, 430px 1786px #fff, 163px 1318px #fff,
    1900px 142px #fff, 1769px 190px #fff, 1448px 1403px #fff, 1511px 1425px #fff,
    833px 1451px #fff, 798px 1729px #fff, 178px 374px #fff, 709px 1068px #fff,
    455px 1110px #fff, 476px 787px #fff, 377px 1095px #fff, 85px 951px #fff,
    1133px 784px #fff, 849px 755px #fff, 768px 1372px #fff, 1788px 899px #fff,
    357px 1584px #fff, 1692px 1910px #fff, 12px 656px #fff, 1233px 1133px #fff,
    1264px 174px #fff, 1117px 221px #fff, 1869px 1452px #fff, 1379px 565px #fff,
    1199px 395px #fff, 1736px 1528px #fff, 953px 1923px #fff, 1191px 784px #fff,
    1278px 949px #fff, 532px 1526px #fff, 246px 741px #fff, 329px 98px #fff,
    1238px 894px #fff, 1696px 1248px #fff, 1751px 1617px #fff, 1171px 382px #fff,
    742px 475px #fff, 1561px 298px #fff, 1004px 1773px #fff, 327px 1216px #fff,
    1568px 568px #fff;
  animation: animStar 200s linear infinite;
}

/* 
fsdfs
fsadfdsf


fsf




*/
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 962px 1049px #fff, 1070px 1697px #fff, 1411px 439px #fff,
    787px 618px #fff, 1785px 1681px #fff, 1977px 188px #fff, 743px 697px #fff,
    718px 1077px #fff, 136px 1632px #fff, 745px 472px #fff, 1303px 53px #fff,
    917px 958px #fff, 1763px 817px #fff, 1161px 426px #fff, 132px 258px #fff,
    1965px 905px #fff, 547px 165px #fff, 1422px 46px #fff, 1044px 1176px #fff,
    764px 682px #fff, 418px 583px #fff, 334px 403px #fff, 487px 272px #fff,
    611px 1019px #fff, 742px 907px #fff, 661px 1593px #fff, 1949px 765px #fff,
    911px 70px #fff, 1274px 1613px #fff, 1189px 237px #fff, 1802px 823px #fff,
    791px 583px #fff, 1381px 1274px #fff, 600px 843px #fff, 1731px 613px #fff,
    1077px 1262px #fff, 1386px 863px #fff, 1472px 1866px #fff, 1679px 895px #fff,
    757px 1872px #fff, 560px 208px #fff, 809px 549px #fff, 1661px 1043px #fff,
    395px 237px #fff, 476px 1569px #fff, 355px 299px #fff, 553px 195px #fff,
    749px 716px #fff, 1456px 870px #fff, 1732px 1533px #fff, 90px 941px #fff,
    432px 183px #fff, 1500px 1999px #fff, 368px 1186px #fff, 586px 791px #fff,
    161px 1250px #fff, 1792px 863px #fff, 1371px 901px #fff, 1130px 1820px #fff,
    1870px 1210px #fff, 1821px 1248px #fff, 534px 1611px #fff, 716px 1172px #fff,
    1600px 833px #fff, 477px 1077px #fff, 965px 983px #fff, 1805px 31px #fff,
    513px 209px #fff, 1933px 1690px #fff, 86px 1699px #fff, 441px 80px #fff,
    654px 1009px #fff, 1372px 528px #fff, 1469px 792px #fff, 986px 45px #fff,
    674px 1749px #fff, 1619px 60px #fff, 982px 1672px #fff, 942px 1554px #fff,
    346px 1538px #fff, 119px 1051px #fff, 462px 665px #fff, 165px 1995px #fff,
    516px 1939px #fff, 526px 1196px #fff, 1283px 636px #fff, 1907px 593px #fff,
    358px 1694px #fff, 437px 375px #fff, 1046px 422px #fff, 356px 1411px #fff,
    737px 783px #fff, 1546px 588px #fff, 1443px 530px #fff, 517px 809px #fff,
    406px 1359px #fff, 1318px 1681px #fff, 1410px 1240px #fff, 91px 1151px #fff,
    1980px 1977px #fff, 1795px 1708px #fff, 1849px 1285px #fff,
    1213px 398px #fff, 1704px 1516px #fff, 704px 1946px #fff, 1013px 587px #fff,
    546px 1049px #fff, 43px 809px #fff, 1290px 1044px #fff, 1095px 481px #fff,
    1569px 1226px #fff, 72px 1388px #fff, 1610px 1660px #fff, 819px 690px #fff,
    929px 1286px #fff, 155px 69px #fff, 1838px 57px #fff, 262px 1175px #fff,
    1084px 1013px #fff, 1883px 1667px #fff, 94px 19px #fff, 337px 46px #fff,
    1448px 601px #fff, 820px 202px #fff, 366px 170px #fff, 37px 296px #fff,
    366px 211px #fff, 532px 1639px #fff, 303px 1296px #fff, 1634px 495px #fff,
    1220px 938px #fff, 1775px 656px #fff, 1674px 165px #fff, 1399px 54px #fff,
    1366px 1012px #fff, 1016px 1814px #fff, 752px 809px #fff, 1683px 1472px #fff,
    1878px 71px #fff, 1120px 605px #fff, 71px 904px #fff, 548px 1998px #fff,
    738px 801px #fff, 1148px 1631px #fff, 579px 1331px #fff, 1688px 1322px #fff,
    651px 1940px #fff, 1690px 561px #fff, 1723px 1043px #fff, 1895px 1713px #fff,
    1034px 1656px #fff, 333px 25px #fff, 1876px 1482px #fff, 1676px 39px #fff,
    1724px 1503px #fff, 1795px 1328px #fff, 1505px 470px #fff, 1598px 847px #fff,
    1416px 883px #fff, 1682px 464px #fff, 1789px 1937px #fff, 1336px 1033px #fff,
    188px 1758px #fff, 1853px 844px #fff, 80px 66px #fff, 1364px 844px #fff,
    1762px 1380px #fff, 801px 1749px #fff, 1679px 1080px #fff, 583px 903px #fff,
    1386px 901px #fff, 46px 232px #fff, 919px 115px #fff, 52px 724px #fff,
    1268px 1870px #fff, 609px 1235px #fff, 633px 486px #fff, 650px 992px #fff,
    1198px 1233px #fff, 1282px 23px #fff, 972px 1582px #fff, 1970px 1147px #fff,
    1457px 1397px #fff, 1960px 1907px #fff, 677px 209px #fff, 1199px 302px #fff,
    1027px 603px #fff, 1589px 1655px #fff, 1573px 513px #fff, 636px 1319px #fff,
    624px 1824px #fff, 45px 600px #fff, 465px 1910px #fff, 1207px 64px #fff,
    889px 1783px #fff, 1869px 131px #fff, 1606px 663px #fff, 502px 1102px #fff,
    146px 1437px #fff, 1067px 1343px #fff, 723px 919px #fff, 26px 45px #fff,
    918px 609px #fff, 1572px 1993px #fff, 1281px 1192px #fff, 317px 198px #fff,
    415px 946px #fff, 252px 171px #fff, 1955px 758px #fff, 1686px 1097px #fff,
    1702px 1215px #fff, 4px 638px #fff, 672px 1485px #fff, 798px 1848px #fff,
    1267px 1582px #fff, 494px 1749px #fff, 442px 1377px #fff, 1825px 1576px #fff,
    1895px 1415px #fff, 106px 220px #fff, 1687px 272px #fff, 1283px 244px #fff,
    967px 820px #fff, 1148px 1178px #fff, 1278px 1034px #fff, 1223px 1932px #fff,
    1128px 1011px #fff, 1651px 1362px #fff, 203px 1634px #fff,
    1556px 1808px #fff, 641px 1354px #fff, 905px 80px #fff, 1681px 1211px #fff,
    1898px 1958px #fff, 779px 41px #fff, 380px 195px #fff, 445px 1166px #fff,
    253px 1376px #fff, 1819px 831px #fff, 1653px 267px #fff, 97px 253px #fff,
    590px 40px #fff, 85px 511px #fff, 219px 469px #fff, 142px 518px #fff,
    1301px 1545px #fff, 1054px 1031px #fff, 1804px 728px #fff, 263px 772px #fff,
    1881px 1107px #fff, 354px 501px #fff, 482px 1304px #fff, 1778px 195px #fff,
    440px 213px #fff, 187px 177px #fff, 1432px 617px #fff, 336px 1847px #fff,
    1494px 1771px #fff, 797px 1257px #fff, 948px 1477px #fff, 42px 818px #fff,
    1814px 788px #fff, 611px 386px #fff, 552px 533px #fff, 1783px 1129px #fff,
    1944px 887px #fff, 701px 1329px #fff, 779px 699px #fff, 1998px 1133px #fff,
    1249px 497px #fff, 1799px 1727px #fff, 1771px 1546px #fff, 1201px 179px #fff,
    1176px 733px #fff, 1507px 342px #fff, 634px 433px #fff, 923px 1792px #fff,
    738px 1601px #fff, 787px 1592px #fff, 1452px 1079px #fff, 654px 1781px #fff,
    1047px 573px #fff, 129px 1184px #fff, 268px 1876px #fff, 1923px 1386px #fff,
    207px 864px #fff, 576px 667px #fff, 877px 1141px #fff, 1910px 26px #fff,
    573px 1995px #fff, 1255px 1862px #fff, 1175px 1554px #fff, 575px 60px #fff,
    998px 1080px #fff, 581px 1646px #fff, 1443px 251px #fff, 702px 1685px #fff,
    523px 1301px #fff, 999px 1424px #fff, 770px 1336px #fff, 495px 116px #fff,
    1953px 648px #fff, 1616px 436px #fff, 182px 1439px #fff, 959px 193px #fff,
    345px 367px #fff, 1299px 581px #fff, 953px 30px #fff, 994px 1175px #fff,
    1423px 993px #fff, 553px 757px #fff, 732px 789px #fff, 1266px 1781px #fff,
    1725px 505px #fff, 1999px 1635px #fff, 1875px 1089px #fff, 568px 1046px #fff,
    1133px 675px #fff, 376px 986px #fff, 460px 1810px #fff, 334px 1644px #fff,
    892px 769px #fff, 455px 106px #fff, 716px 304px #fff, 203px 1834px #fff,
    1726px 432px #fff, 1118px 263px #fff, 105px 678px #fff, 1714px 305px #fff,
    65px 1201px #fff, 1676px 864px #fff, 1463px 1699px #fff, 673px 245px #fff,
    1950px 63px #fff, 1754px 692px #fff, 1240px 314px #fff, 549px 1007px #fff,
    1306px 1045px #fff, 1663px 1158px #fff, 81px 848px #fff, 1792px 1386px #fff,
    1317px 88px #fff, 1155px 648px #fff, 115px 880px #fff, 35px 157px #fff,
    1143px 282px #fff, 202px 1029px #fff, 1206px 991px #fff, 112px 1013px #fff,
    1050px 254px #fff, 1251px 1027px #fff, 1397px 524px #fff, 1005px 364px #fff,
    914px 128px #fff, 1056px 1802px #fff, 1613px 1747px #fff, 1037px 440px #fff,
    1606px 64px #fff, 1012px 1241px #fff, 1897px 1504px #fff, 995px 614px #fff,
    539px 922px #fff, 1587px 859px #fff, 1835px 380px #fff, 958px 1947px #fff,
    207px 190px #fff, 816px 314px #fff, 1281px 1184px #fff, 1915px 1358px #fff,
    820px 1715px #fff, 1865px 392px #fff, 234px 1466px #fff, 949px 176px #fff,
    1211px 9px #fff, 1972px 45px #fff, 561px 670px #fff, 1260px 1822px #fff,
    1297px 221px #fff, 1514px 330px #fff, 1270px 972px #fff, 914px 883px #fff,
    1203px 124px #fff, 1531px 190px #fff, 1348px 1245px #fff, 1677px 1466px #fff,
    843px 1582px #fff, 654px 596px #fff, 88px 1510px #fff, 1488px 503px #fff,
    452px 921px #fff, 334px 1640px #fff, 1993px 599px #fff, 1416px 279px #fff,
    1864px 629px #fff, 591px 1688px #fff, 1552px 1932px #fff, 881px 1296px #fff,
    1872px 1409px #fff, 444px 1612px #fff, 173px 752px #fff, 774px 1808px #fff,
    659px 1951px #fff, 1912px 1030px #fff, 1425px 1283px #fff, 190px 851px #fff,
    736px 727px #fff, 608px 932px #fff, 899px 1117px #fff, 1024px 1596px #fff,
    1515px 1939px #fff, 1348px 1708px #fff, 241px 731px #fff, 1217px 1924px #fff,
    1357px 551px #fff, 731px 626px #fff, 31px 1174px #fff, 1795px 280px #fff,
    1437px 680px #fff, 810px 560px #fff, 1615px 1460px #fff, 1153px 594px #fff,
    141px 254px #fff, 1570px 1081px #fff, 1751px 1890px #fff, 483px 879px #fff,
    687px 1075px #fff, 1640px 1253px #fff, 1235px 1226px #fff, 316px 354px #fff,
    1550px 1997px #fff, 365px 8px #fff, 1074px 1708px #fff, 828px 630px #fff,
    1519px 388px #fff, 648px 1215px #fff, 248px 814px #fff, 454px 1344px #fff,
    837px 607px #fff, 1475px 968px #fff, 1736px 661px #fff, 1634px 1197px #fff,
    186px 1694px #fff, 36px 223px #fff, 1688px 1273px #fff, 1449px 705px #fff,
    557px 408px #fff, 1507px 649px #fff, 400px 1675px #fff, 470px 1084px #fff,
    1398px 1400px #fff, 1369px 1919px #fff, 1228px 1080px #fff,
    1935px 1799px #fff, 916px 420px #fff, 1915px 873px #fff, 491px 653px #fff,
    227px 704px #fff, 1518px 1517px #fff, 1510px 1564px #fff, 145px 1155px #fff,
    358px 991px #fff, 109px 1691px #fff, 954px 1520px #fff, 1277px 452px #fff,
    1301px 1351px #fff, 885px 579px #fff, 1198px 418px #fff, 423px 1626px #fff,
    1916px 1493px #fff, 1277px 1105px #fff, 659px 725px #fff, 479px 886px #fff,
    778px 531px #fff, 1532px 1977px #fff, 267px 335px #fff, 4px 507px #fff,
    655px 775px #fff, 1756px 495px #fff, 1815px 1116px #fff, 1918px 1440px #fff,
    1629px 1832px #fff, 1853px 1667px #fff, 368px 1345px #fff, 721px 847px #fff,
    166px 10px #fff, 1964px 174px #fff, 1623px 1249px #fff, 1605px 744px #fff,
    253px 1833px #fff, 1767px 331px #fff, 1444px 1680px #fff, 1135px 59px #fff,
    322px 67px #fff, 1047px 1384px #fff, 806px 1763px #fff, 1354px 1469px #fff,
    575px 48px #fff, 635px 302px #fff, 431px 1320px #fff, 550px 403px #fff,
    519px 1188px #fff, 167px 426px #fff, 773px 1893px #fff, 1858px 303px #fff,
    1773px 1906px #fff, 860px 1397px #fff, 1021px 858px #fff, 1400px 541px #fff,
    803px 1130px #fff, 796px 62px #fff, 1215px 1381px #fff, 136px 1626px #fff,
    1482px 1503px #fff, 1363px 366px #fff, 841px 1256px #fff, 1413px 551px #fff,
    366px 758px #fff, 435px 1395px #fff, 1995px 82px #fff, 1572px 927px #fff,
    1913px 995px #fff, 1088px 515px #fff, 872px 49px #fff, 424px 998px #fff,
    122px 215px #fff, 1026px 368px #fff, 758px 1737px #fff, 818px 1721px #fff,
    711px 193px #fff, 1059px 892px #fff, 327px 469px #fff, 1570px 577px #fff,
    1590px 1028px #fff, 676px 489px #fff, 920px 473px #fff, 573px 874px #fff,
    1605px 1775px #fff, 23px 1538px #fff, 1297px 1081px #fff, 1237px 867px #fff,
    609px 601px #fff, 1287px 892px #fff, 708px 1387px #fff, 628px 554px #fff,
    1117px 1352px #fff, 1998px 1255px #fff, 1555px 419px #fff,
    1810px 1562px #fff, 246px 1091px #fff, 52px 460px #fff, 1650px 224px #fff,
    1455px 1133px #fff, 59px 1860px #fff, 786px 10px #fff, 1340px 1647px #fff,
    1245px 475px #fff, 206px 1542px #fff, 1038px 1979px #fff, 162px 1103px #fff,
    691px 1983px #fff, 100px 77px #fff, 899px 1186px #fff, 1211px 939px #fff,
    1573px 481px #fff, 137px 1106px #fff, 616px 145px #fff, 774px 135px #fff,
    1071px 1004px #fff, 339px 1627px #fff, 1888px 1860px #fff, 296px 1558px #fff,
    1201px 1743px #fff, 53px 381px #fff, 692px 1407px #fff, 795px 1269px #fff,
    1874px 340px #fff, 1653px 1908px #fff, 1068px 1526px #fff,
    1512px 1604px #fff, 1188px 1619px #fff, 1376px 585px #fff,
    1030px 1060px #fff, 1101px 901px #fff, 1640px 487px #fff, 929px 1290px #fff,
    205px 788px #fff, 1022px 638px #fff, 899px 1593px #fff, 1376px 589px #fff,
    493px 1119px #fff, 1006px 95px #fff, 569px 661px #fff, 1783px 1789px #fff,
    1685px 793px #fff, 1272px 1812px #fff, 751px 55px #fff, 1159px 463px #fff,
    217px 66px #fff, 1086px 726px #fff, 472px 418px #fff, 653px 1718px #fff,
    624px 1330px #fff, 890px 1708px #fff, 1763px 1981px #fff, 1226px 1144px #fff,
    709px 1699px #fff, 1246px 1210px #fff, 712px 1402px #fff, 1658px 1577px #fff,
    891px 1953px #fff, 1547px 1436px #fff, 974px 248px #fff, 623px 1536px #fff,
    1081px 1917px #fff, 434px 758px #fff, 1451px 301px #fff, 1918px 1702px #fff,
    1019px 1612px #fff, 1394px 434px #fff, 346px 344px #fff, 816px 1066px #fff,
    1888px 1882px #fff, 1660px 1295px #fff, 669px 1327px #fff,
    1004px 1389px #fff, 445px 468px #fff, 1862px 1110px #fff, 1950px 529px #fff,
    1759px 1432px #fff, 1078px 581px #fff, 651px 1678px #fff, 1677px 61px #fff,
    1528px 1595px #fff, 1368px 1047px #fff, 1692px 1301px #fff, 146px 7px #fff,
    309px 1574px #fff, 1572px 659px #fff, 1851px 1065px #fff, 1647px 650px #fff,
    1783px 1636px #fff, 1544px 1797px #fff, 984px 1894px #fff,
    1654px 1105px #fff, 1970px 1694px #fff, 1703px 546px #fff, 40px 992px #fff,
    351px 1060px #fff, 1426px 811px #fff, 485px 1327px #fff, 839px 434px #fff,
    1173px 1268px #fff, 1306px 1868px #fff, 864px 2000px #fff, 416px 944px #fff,
    975px 496px #fff, 1952px 1110px #fff, 430px 1786px #fff, 163px 1318px #fff,
    1900px 142px #fff, 1769px 190px #fff, 1448px 1403px #fff, 1511px 1425px #fff,
    833px 1451px #fff, 798px 1729px #fff, 178px 374px #fff, 709px 1068px #fff,
    455px 1110px #fff, 476px 787px #fff, 377px 1095px #fff, 85px 951px #fff,
    1133px 784px #fff, 849px 755px #fff, 768px 1372px #fff, 1788px 899px #fff,
    357px 1584px #fff, 1692px 1910px #fff, 12px 656px #fff, 1233px 1133px #fff,
    1264px 174px #fff, 1117px 221px #fff, 1869px 1452px #fff, 1379px 565px #fff,
    1199px 395px #fff, 1736px 1528px #fff, 953px 1923px #fff, 1191px 784px #fff,
    1278px 949px #fff, 532px 1526px #fff, 246px 741px #fff, 329px 98px #fff,
    1238px 894px #fff, 1696px 1248px #fff, 1751px 1617px #fff, 1171px 382px #fff,
    742px 475px #fff, 1561px 298px #fff, 1004px 1773px #fff, 327px 1216px #fff,
    1568px 568px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1862px 1464px #fff, 1758px 392px #fff, 277px 1790px #fff,
    417px 923px #fff, 961px 1620px #fff, 1305px 605px #fff, 1195px 1633px #fff,
    1544px 1231px #fff, 1424px 431px #fff, 1990px 1784px #fff, 609px 1338px #fff,
    1506px 688px #fff, 653px 1084px #fff, 255px 914px #fff, 1146px 1874px #fff,
    1605px 961px #fff, 1964px 922px #fff, 556px 1018px #fff, 19px 1027px #fff,
    99px 656px #fff, 85px 1051px #fff, 1687px 1130px #fff, 1841px 1657px #fff,
    463px 1791px #fff, 1509px 1666px #fff, 542px 1359px #fff, 1291px 1704px #fff,
    1515px 1924px #fff, 1618px 766px #fff, 27px 1212px #fff, 1025px 17px #fff,
    825px 1638px #fff, 733px 668px #fff, 1738px 519px #fff, 180px 300px #fff,
    1592px 1463px #fff, 1508px 227px #fff, 1942px 1082px #fff, 1683px 224px #fff,
    1611px 1775px #fff, 1855px 272px #fff, 1179px 593px #fff, 1564px 1352px #fff,
    1204px 1157px #fff, 1340px 873px #fff, 145px 24px #fff, 1734px 906px #fff,
    1512px 340px #fff, 1861px 1596px #fff, 1282px 1084px #fff, 262px 988px #fff,
    149px 153px #fff, 192px 969px #fff, 1517px 69px #fff, 1181px 125px #fff,
    652px 575px #fff, 1861px 180px #fff, 166px 1549px #fff, 1962px 119px #fff,
    605px 1697px #fff, 1752px 487px #fff, 706px 1988px #fff, 1820px 1682px #fff,
    1533px 130px #fff, 1818px 1655px #fff, 798px 429px #fff, 1853px 586px #fff,
    1945px 1503px #fff, 1368px 700px #fff, 1329px 1883px #fff, 1915px 388px #fff,
    1302px 75px #fff, 1068px 478px #fff, 240px 1542px #fff, 550px 699px #fff,
    291px 526px #fff, 757px 1869px #fff, 189px 1809px #fff, 953px 633px #fff,
    1478px 844px #fff, 1229px 1947px #fff, 818px 83px #fff, 763px 1152px #fff,
    269px 1721px #fff, 316px 853px #fff, 658px 163px #fff, 255px 1936px #fff,
    1072px 403px #fff, 1186px 462px #fff, 1667px 1900px #fff, 1568px 249px #fff,
    64px 1408px #fff, 659px 1534px #fff, 943px 1325px #fff, 1715px 1533px #fff,
    1100px 1663px #fff, 1855px 1775px #fff, 886px 189px #fff, 1730px 315px #fff,
    1060px 1240px #fff, 1681px 301px #fff, 194px 1294px #fff, 967px 276px #fff,
    1852px 1944px #fff, 22px 1470px #fff, 1292px 882px #fff, 769px 131px #fff,
    1980px 621px #fff, 605px 1138px #fff, 1069px 827px #fff, 1969px 942px #fff,
    1357px 505px #fff, 224px 564px #fff, 1433px 1065px #fff, 602px 1272px #fff,
    761px 2000px #fff, 1508px 951px #fff, 854px 1145px #fff, 1932px 1315px #fff,
    363px 11px #fff, 521px 1403px #fff, 37px 1392px #fff, 1914px 1563px #fff,
    1657px 1074px #fff, 921px 274px #fff, 1319px 489px #fff, 1874px 987px #fff,
    1021px 1020px #fff, 542px 1571px #fff, 778px 1747px #fff, 1517px 1796px #fff,
    1980px 1566px #fff, 441px 1109px #fff, 1091px 838px #fff, 412px 220px #fff,
    121px 61px #fff, 780px 1567px #fff, 935px 1961px #fff, 271px 1706px #fff,
    38px 810px #fff, 1707px 1317px #fff, 70px 1803px #fff, 933px 798px #fff,
    1876px 547px #fff, 1487px 3px #fff, 1762px 828px #fff, 1761px 438px #fff,
    1930px 1418px #fff, 1002px 506px #fff, 27px 75px #fff, 1695px 644px #fff,
    1450px 1253px #fff, 14px 255px #fff, 1512px 533px #fff, 1355px 1504px #fff,
    940px 1164px #fff, 222px 1144px #fff, 839px 662px #fff, 1012px 1351px #fff,
    1875px 761px #fff, 1545px 350px #fff, 461px 87px #fff, 125px 926px #fff,
    195px 179px #fff, 368px 706px #fff, 316px 546px #fff, 1834px 1220px #fff,
    731px 1444px #fff, 445px 1417px #fff, 700px 260px #fff, 645px 137px #fff,
    1703px 1351px #fff, 1651px 248px #fff, 1575px 725px #fff, 1962px 377px #fff,
    1148px 1862px #fff, 1999px 1812px #fff, 313px 689px #fff, 1716px 727px #fff,
    302px 16px #fff, 1232px 299px #fff, 945px 222px #fff, 85px 635px #fff,
    1729px 206px #fff, 48px 721px #fff, 163px 1011px #fff, 1302px 1706px #fff,
    676px 919px #fff, 1281px 1794px #fff, 1073px 1865px #fff, 1033px 224px #fff,
    100px 1083px #fff, 1924px 751px #fff, 1618px 584px #fff, 724px 93px #fff,
    1634px 1631px #fff, 343px 194px #fff, 1195px 336px #fff, 366px 1231px #fff,
    776px 1634px #fff;
  animation: animStar 600s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1862px 1464px #fff, 1758px 392px #fff, 277px 1790px #fff,
    417px 923px #fff, 961px 1620px #fff, 1305px 605px #fff, 1195px 1633px #fff,
    1544px 1231px #fff, 1424px 431px #fff, 1990px 1784px #fff, 609px 1338px #fff,
    1506px 688px #fff, 653px 1084px #fff, 255px 914px #fff, 1146px 1874px #fff,
    1605px 961px #fff, 1964px 922px #fff, 556px 1018px #fff, 19px 1027px #fff,
    99px 656px #fff, 85px 1051px #fff, 1687px 1130px #fff, 1841px 1657px #fff,
    463px 1791px #fff, 1509px 1666px #fff, 542px 1359px #fff, 1291px 1704px #fff,
    1515px 1924px #fff, 1618px 766px #fff, 27px 1212px #fff, 1025px 17px #fff,
    825px 1638px #fff, 733px 668px #fff, 1738px 519px #fff, 180px 300px #fff,
    1592px 1463px #fff, 1508px 227px #fff, 1942px 1082px #fff, 1683px 224px #fff,
    1611px 1775px #fff, 1855px 272px #fff, 1179px 593px #fff, 1564px 1352px #fff,
    1204px 1157px #fff, 1340px 873px #fff, 145px 24px #fff, 1734px 906px #fff,
    1512px 340px #fff, 1861px 1596px #fff, 1282px 1084px #fff, 262px 988px #fff,
    149px 153px #fff, 192px 969px #fff, 1517px 69px #fff, 1181px 125px #fff,
    652px 575px #fff, 1861px 180px #fff, 166px 1549px #fff, 1962px 119px #fff,
    605px 1697px #fff, 1752px 487px #fff, 706px 1988px #fff, 1820px 1682px #fff,
    1533px 130px #fff, 1818px 1655px #fff, 798px 429px #fff, 1853px 586px #fff,
    1945px 1503px #fff, 1368px 700px #fff, 1329px 1883px #fff, 1915px 388px #fff,
    1302px 75px #fff, 1068px 478px #fff, 240px 1542px #fff, 550px 699px #fff,
    291px 526px #fff, 757px 1869px #fff, 189px 1809px #fff, 953px 633px #fff,
    1478px 844px #fff, 1229px 1947px #fff, 818px 83px #fff, 763px 1152px #fff,
    269px 1721px #fff, 316px 853px #fff, 658px 163px #fff, 255px 1936px #fff,
    1072px 403px #fff, 1186px 462px #fff, 1667px 1900px #fff, 1568px 249px #fff,
    64px 1408px #fff, 659px 1534px #fff, 943px 1325px #fff, 1715px 1533px #fff,
    1100px 1663px #fff, 1855px 1775px #fff, 886px 189px #fff, 1730px 315px #fff,
    1060px 1240px #fff, 1681px 301px #fff, 194px 1294px #fff, 967px 276px #fff,
    1852px 1944px #fff, 22px 1470px #fff, 1292px 882px #fff, 769px 131px #fff,
    1980px 621px #fff, 605px 1138px #fff, 1069px 827px #fff, 1969px 942px #fff,
    1357px 505px #fff, 224px 564px #fff, 1433px 1065px #fff, 602px 1272px #fff,
    761px 2000px #fff, 1508px 951px #fff, 854px 1145px #fff, 1932px 1315px #fff,
    363px 11px #fff, 521px 1403px #fff, 37px 1392px #fff, 1914px 1563px #fff,
    1657px 1074px #fff, 921px 274px #fff, 1319px 489px #fff, 1874px 987px #fff,
    1021px 1020px #fff, 542px 1571px #fff, 778px 1747px #fff, 1517px 1796px #fff,
    1980px 1566px #fff, 441px 1109px #fff, 1091px 838px #fff, 412px 220px #fff,
    121px 61px #fff, 780px 1567px #fff, 935px 1961px #fff, 271px 1706px #fff,
    38px 810px #fff, 1707px 1317px #fff, 70px 1803px #fff, 933px 798px #fff,
    1876px 547px #fff, 1487px 3px #fff, 1762px 828px #fff, 1761px 438px #fff,
    1930px 1418px #fff, 1002px 506px #fff, 27px 75px #fff, 1695px 644px #fff,
    1450px 1253px #fff, 14px 255px #fff, 1512px 533px #fff, 1355px 1504px #fff,
    940px 1164px #fff, 222px 1144px #fff, 839px 662px #fff, 1012px 1351px #fff,
    1875px 761px #fff, 1545px 350px #fff, 461px 87px #fff, 125px 926px #fff,
    195px 179px #fff, 368px 706px #fff, 316px 546px #fff, 1834px 1220px #fff,
    731px 1444px #fff, 445px 1417px #fff, 700px 260px #fff, 645px 137px #fff,
    1703px 1351px #fff, 1651px 248px #fff, 1575px 725px #fff, 1962px 377px #fff,
    1148px 1862px #fff, 1999px 1812px #fff, 313px 689px #fff, 1716px 727px #fff,
    302px 16px #fff, 1232px 299px #fff, 945px 222px #fff, 85px 635px #fff,
    1729px 206px #fff, 48px 721px #fff, 163px 1011px #fff, 1302px 1706px #fff,
    676px 919px #fff, 1281px 1794px #fff, 1073px 1865px #fff, 1033px 224px #fff,
    100px 1083px #fff, 1924px 751px #fff, 1618px 584px #fff, 724px 93px #fff,
    1634px 1631px #fff, 343px 194px #fff, 1195px 336px #fff, 366px 1231px #fff,
    776px 1634px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1404px 288px #fff, 592px 1632px #fff, 1311px 115px #fff,
    1132px 84px #fff, 542px 1437px #fff, 1628px 260px #fff, 1481px 338px #fff,
    344px 1429px #fff, 626px 686px #fff, 64px 215px #fff, 1814px 1949px #fff,
    1541px 1014px #fff, 1403px 951px #fff, 634px 755px #fff, 1462px 587px #fff,
    885px 708px #fff, 1771px 1014px #fff, 1768px 1090px #fff, 1678px 1111px #fff,
    892px 1068px #fff, 1091px 1468px #fff, 304px 512px #fff, 1477px 1351px #fff,
    1871px 884px #fff, 1121px 1423px #fff, 81px 645px #fff, 47px 299px #fff,
    14px 589px #fff, 1088px 1883px #fff, 1543px 511px #fff, 449px 1766px #fff,
    280px 986px #fff, 336px 1649px #fff, 101px 784px #fff, 567px 1075px #fff,
    933px 1637px #fff, 1893px 1749px #fff, 1007px 1910px #fff, 170px 1414px #fff,
    145px 950px #fff, 1825px 578px #fff, 1041px 1172px #fff, 1190px 958px #fff,
    1030px 1124px #fff, 573px 1515px #fff, 1482px 1373px #fff, 736px 545px #fff,
    1083px 1121px #fff, 1984px 331px #fff, 84px 1075px #fff, 1426px 487px #fff,
    1751px 1593px #fff, 1890px 478px #fff, 709px 1353px #fff, 348px 184px #fff,
    465px 486px #fff, 746px 1593px #fff, 216px 1955px #fff, 889px 1294px #fff,
    1347px 441px #fff, 691px 1203px #fff, 1311px 664px #fff, 1057px 1668px #fff,
    1540px 70px #fff, 1972px 251px #fff, 281px 510px #fff, 1109px 1413px #fff,
    431px 1241px #fff, 927px 263px #fff, 941px 1888px #fff, 1726px 1014px #fff,
    982px 651px #fff, 14px 1137px #fff, 455px 785px #fff, 1060px 122px #fff,
    1227px 1685px #fff, 471px 866px #fff, 1264px 1538px #fff, 846px 139px #fff,
    6px 1709px #fff, 1308px 1855px #fff, 834px 1891px #fff, 1313px 96px #fff,
    1189px 1918px #fff, 1645px 1493px #fff, 876px 411px #fff, 26px 346px #fff,
    936px 110px #fff, 1699px 1755px #fff, 1232px 1645px #fff, 695px 560px #fff,
    1051px 906px #fff, 71px 1454px #fff, 894px 1821px #fff, 230px 965px #fff,
    212px 1373px #fff, 1832px 712px #fff, 1258px 1106px #fff, 20px 1834px #fff,
    4px 135px #fff;
  animation: animStar 650s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1404px 288px #fff, 592px 1632px #fff, 1311px 115px #fff,
    1132px 84px #fff, 542px 1437px #fff, 1628px 260px #fff, 1481px 338px #fff,
    344px 1429px #fff, 626px 686px #fff, 64px 215px #fff, 1814px 1949px #fff,
    1541px 1014px #fff, 1403px 951px #fff, 634px 755px #fff, 1462px 587px #fff,
    885px 708px #fff, 1771px 1014px #fff, 1768px 1090px #fff, 1678px 1111px #fff,
    892px 1068px #fff, 1091px 1468px #fff, 304px 512px #fff, 1477px 1351px #fff,
    1871px 884px #fff, 1121px 1423px #fff, 81px 645px #fff, 47px 299px #fff,
    14px 589px #fff, 1088px 1883px #fff, 1543px 511px #fff, 449px 1766px #fff,
    280px 986px #fff, 336px 1649px #fff, 101px 784px #fff, 567px 1075px #fff,
    933px 1637px #fff, 1893px 1749px #fff, 1007px 1910px #fff, 170px 1414px #fff,
    145px 950px #fff, 1825px 578px #fff, 1041px 1172px #fff, 1190px 958px #fff,
    1030px 1124px #fff, 573px 1515px #fff, 1482px 1373px #fff, 736px 545px #fff,
    1083px 1121px #fff, 1984px 331px #fff, 84px 1075px #fff, 1426px 487px #fff,
    1751px 1593px #fff, 1890px 478px #fff, 709px 1353px #fff, 348px 184px #fff,
    465px 486px #fff, 746px 1593px #fff, 216px 1955px #fff, 889px 1294px #fff,
    1347px 441px #fff, 691px 1203px #fff, 1311px 664px #fff, 1057px 1668px #fff,
    1540px 70px #fff, 1972px 251px #fff, 281px 510px #fff, 1109px 1413px #fff,
    431px 1241px #fff, 927px 263px #fff, 941px 1888px #fff, 1726px 1014px #fff,
    982px 651px #fff, 14px 1137px #fff, 455px 785px #fff, 1060px 122px #fff,
    1227px 1685px #fff, 471px 866px #fff, 1264px 1538px #fff, 846px 139px #fff,
    6px 1709px #fff, 1308px 1855px #fff, 834px 1891px #fff, 1313px 96px #fff,
    1189px 1918px #fff, 1645px 1493px #fff, 876px 411px #fff, 26px 346px #fff,
    936px 110px #fff, 1699px 1755px #fff, 1232px 1645px #fff, 695px 560px #fff,
    1051px 906px #fff, 71px 1454px #fff, 894px 1821px #fff, 230px 965px #fff,
    212px 1373px #fff, 1832px 712px #fff, 1258px 1106px #fff, 20px 1834px #fff,
    4px 135px #fff;
}

/* #title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
